{% extends 'index.html' %}

{% block content %}
{% if error %}
  <p class="error">{{error}}</p>
{% endif %}
<main class="form-container">
  <section class="form-card">
    <h2>Create a Short URL</h2>
    <p class="subtitle">Fill in the details below to generate your short link.</p>

    <form method="POST" action="{% url 'form' %}" class="url-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="long_url">Long URL</label>
        <input type="url" id="long_url" name="long_url" value="{{url}}" placeholder="https://example.com/your-long-link" required />
      </div>

      <div class="form-group">
        <label for="custom_short_url">Custom short url (Optional)</label>
        <input type="text" id="custom_alias" name="custom_short_url" placeholder="my-custom-link" />
      </div>

      <div class="form-group">
        <label for="expiration_date">Expiration Date (Optional)</label>
        <input type="date" id="expiration_date" name="expiration_date" />
      </div>

      <div class="form-group checkbox">
        <input type="checkbox" id="generate_qr" name="generate_qr" />
        <label for="generate_qr" class="generate_qr">Generate QR Code</label>
      </div>

      <button type="submit" class="submit-btn">Create Short URL</button>
    </form>
  </section>
</main>
{% endblock %}